<%- include('index'); %>

<h2>Zmień hasło</h2>
<form action="/changePasswordApprove?id=<%= id %>" method="POST">
    <div>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Submit</button>
</form>