<h1>Hi <%= nickname %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<form action="/changePassword %>" method="POST">
  <button type="submit">Change Password</button>
</form>

<nav class="main-menu">
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users">User management</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/issues">Issues</a></li>
  </ul>
</nav>
